@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-text-color: #ccc;
    --main-color: #748dfd;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;

}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
    transition: all .45s ease;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    background-image: url(res/background.jpg);
    background-size: cover;
    background-position: center;
}

.home-text {
    position: relative;
}

.two {
    display: inline-block;
    color: var(--second-text-color);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 8px 0;
}

.home-text h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 35px;
}

.home-text p {
    font-size: var(--p-font);
    color: var(--second-text-color);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(1.1);
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.about img {
    min-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-text-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.services {
    background: var(--second-bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-text-color);
    font-size: 15px;
    margin-top: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    height: 100%;    
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    height: 70px;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-text-color);
    font-size: 1rem;
    line-height: 1.8;
}

.manufacturer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    height: 100%;
}

.row img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.row:hover img {
    transform:  scale(1.1);
}

.row:hover .layer {
    height: 100%;
}


.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-text-color);
    font-size: 1rem;
    line-height: 1.8;
}

.contact {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: var(--second-text-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;
    display: flex;
    flex-direction: column;
}

.list li {
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;
}

.list li a {
    display: block;
    color: var(--second-text-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateX(5px);
}

.list li i {
    color: var(--main-color);
    margin-right: 5px;
    font-size: 25px;
}

.contact-form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover{
    background: var(--text-color);
    color: var(--main-color);
    transform: translateX(5px);
    cursor: pointer;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}

.end .madeby {
    color: var(--text-color);
    transition: all .45s ease;
}

.end .madeby:hover{
    display: inline-block;
    transform: translateX(5px);
    color: var(--main-color);
}

.last-text p {
    color: var(--second-text-color);
    font-size: 14px;
}

.top i:hover {
    background: var(--text-color);
    color: var(--main-color);
    transform: translateY(-2px);
}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-style: 15px;
    color: var(--text-color);
    background: var(--main-color);
    transition: all .45s ease;
}

#impressum {
    display: none;
    padding: 0 30% 0 10%;
    word-break: break-word;
}

#impressum.open {
    display: block;
}

#impressum p {
    font-size: 14px;
    color: var(--second-text-color);
    margin-bottom: 20px;
}

#impressum .list {
    margin: 0;
}

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
    }

    header.sticky {
        padding: 10px 2.5%;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }
}


@media (max-width: 1100px) {
    :root { 
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
    }

    .home-text h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 920px) {
    .about, .contact {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        order: 2;
    }

    .about-img img {
        width: 100%;
        max-width: 100%;
        height: auto;
        min-width: 0;
    }
}

@media (max-width: 840px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -310px;
        right: 0;
        left: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all 1s cubic-bezier(0.23, 1, 0.25, 1);
    }

    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover{
        color: var(--main-color);
    }

    .navlist a.active {
        color: var(--text-color);
    }

    .navlist.open {
        top: 100%;
        opacity: 1;
    }

    #impressum {
        padding: 3%;
    }
}